body {
  margin: 0;
  background: #ffff;
  font-family: 'Poppins', sans-serif;
}
.loading-icon {
  color: #650000;;
  font-size: 2rem;
  animation: animate 2s infinite;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeOut 0.5s ease-in-out 0.5s forwards;
}

.loading-content {
  font-size: 1.2rem;
  color: #666;
  padding: 2rem;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; visibility: hidden; }
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
